<nav class="navbar">
  <a ui-sref="home">SIGHTINGS in the hood</a>
  <ul>
    <li ng-class="{active: $state.includes('home')}"><a ui-sref="home">Home</a></li>


    <li ng-class="{active: $state.includes('my-list')}"><a ui-sref="my-list">My Sightings</a></li>
    <li ng-class="{active: $state.includes('our-list')}"><a ui-sref="our-list">Our Sightings</a></li>
    <li ng-class="{active: $state.includes('new-sighting')}"><a ui-sref="new-sighting">New Sighting</a></li>
     <li ng-hide="loggedin" ng-class="{active: $state.includes('log-in')}"><a ui-sref="log-in">Log In</a></li>

    <!--enhancement  -->
   <!--  <li><a ng-href="http://www.twitter.com">|  &nbsp;&nbsp;Twitter</a></li>
    <li><a ng-href="http://www.facebook.com">Facebook</a></li> -->
  </ul>
</nav>
