<nav class="navbar">
  <a href="#">Sightings</a>

  <ul>
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">Sign Up</a></li>
    <li><a ng-href="#">Log in</a></li>
    <li><a ng-href="#">Log out</a></li>
    <li><a ng-href="#">My List</a></li>
    <li><a ng-href="#">Our List</a></li>
    <li><a ng-href="#">New Sightings</a></li>
    <li>|  <a ng-href="#">Twitter</a></li>
    <li><a ng-href="#">Facebook</a></li>

  </ul>

<!--   <ul class="acme-navbar-text">
    <li>Application was created {{ vm.relativeDate }}.</li>
  </ul> -->
</nav>
