
<!-- <form name="logInUserForm" ng-submit="login.authWithPassword()"> -->

<form name="loginform" ng-submit="login.authWithPassword()">
    <fieldset >
        <input required name="email" type="email"
            ng-model="login.email"
            id="email" placeholder="email">
        <input required name="password" type="password"
            ng-model="login.password"
            id="password" placeholder="password&hellip;">
        <!-- submit button: pressing return submits -->
        <!-- <input hidden type="submit">  -->
        <input type="submit" value='log in'>
    </fieldset>

</form>
