
<form name="logInUserForm" >



          <div class="col-sm-8">
            <label for="email">email</label>
          <input required name="email" type="email"
            ng-model="email"
            id="email" placeholder="email"><br>
            <label for="password">password</label>
        <input required name="password" type="password"
            ng-model="password"
            id="password" placeholder="password&hellip;"><br>
            <input type="submit" value='log in!'>
            ng-if shows
            <input type="submit" value='log out'>


</form>
