<h3>Log in</h3>
<form name="logInUserForm" >
    <fieldset>
        <input required name="email" type="email"
            ng-model="email"
            id="email" placeholder="email">
        <input required name="password" type="password"
            ng-model="password"
            id="password" placeholder="password&hellip;">
        <!-- submit button: pressing return submits -->
        <!-- <input hidden type="submit">  -->
        <input type="submit" value='sign up!'>
    </fieldset>
</form>
