.jumbotron {
    padding: 60px;
    margin-bottom: 30px;
    background-color: #ffbbe3;
    border-radius: 6px;
    text-align: center;
}

a:hover, a:focus {
    color: #23527c;
    text-decoration: none;
    border-bottom: 4px dotted #fff;

}
