<div class="container">
 <h3> My Sightings</h3>

 <table class="table table-hover">

  <caption ng-repeat='item in sight.namer'>{{item.name}}'s Sightings</caption>

  <tr>
      <tr>
      <th>
        <a href="" ng-click="order('critter')">Critter</a>
        <span class="sortorder" ng-show="predicate === 'critter'" ng-class="{reverse:reverse}"></span>
      </th>
      <th> <a href="" ng-click="order('when')">When Seen</a>
        <span class="sortorder" ng-show="predicate === 'when'" ng-class="{reverse:reverse}"></span></th>
        <th>Where Seen</th><!-- <th>Photo Link</th> --><th>Details</th>
    </tr>
  </tr>
  <tbody>
    <tr ng-repeat='item in sight.mysightingArr'>
      <td> <a ui-sref="sighting({critter: item.critter, id: item.$id})">{{item.critter}}</a></td> <td> {{item.when | date:"MM/dd/yyyy 'at' h:mma" }}</td> <td> <reverse-geocode lat="{{item.where.lat}}" lng="{{item.where.lng}}"></reverse-geocode></td> <td> {{item.details}}</td><!--<td>  <a ui-sref="a-sighting/#">{{item.photo}}</a></td>  -->
    </tr>
  </tbody>
</table>
</div>

